
//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;

//----------------------------- 色票 -----------------------------
$main_bg:#0A3125;
$second_txt:#CACEAC;
$mute:#407061;
$primary_dark:#061F17;
$secondart-dark:#81846E;